/*
===============
Variables
===============
*/
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-gold: #c59d5f;
    --clr-gold-low-opacity: rgba(197, 157, 95, 0.8);

    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;

    --border-color: rgb(51, 51, 51);
    --border-color-gray: rgb(153 153 153 )
}


/*
===============
Global Styles
===============
*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body {
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.6;
    font-size: 1rem;
    margin: 0;
    font-family: Vazir,Arial, sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
    /*color: var(--clr-grey-1);*/
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: black;
    /*color: var(--clr-grey-1);*/
}
/*@media screen and (min-width: 800px) {*/
/*    h1 {*/
/*        font-size: 4rem;*/
/*    }*/
/*    h2 {*/
/*        font-size: 2.5rem;*/
/*    }*/
/*    h3 {*/
/*        font-size: 1.75rem;*/
/*    }*/
/*    h4 {*/
/*        font-size: 1rem;*/
/*    }*/
/*    body {*/
/*        font-size: 1rem;*/
/*    }*/
/*    h1,*/
/*    h2,*/
/*    h3,*/
/*    h4 {*/
/*        line-height: 1;*/
/*    }*/
/*}*/


/*
===============
Font face
===============
*/
@font-face {
    font-family: Vazir;
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/eot/Vazirmatn-FD-Regular.eot');
    src: url('./fonts/eot/Vazirmatn-FD-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/woff2/Vazirmatn-FD-Regular.woff2') format('woff2'),
    url('./fonts/woff/Vazirmatn-FD-Regular.woff') format('woff'),
    url('./fonts/ttf/Vazirmatn-FD-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    font-weight: 100;
    font-style: normal;
    src: url('./fonts/eot/Vazirmatn-FD-Thin.eot');
    src: url('./fonts/eot/Vazirmatn-FD-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/woff2/Vazirmatn-FD-Thin.woff2') format('woff2'),
    url('./fonts/woff/Vazirmatn-FD-Thin.woff') format('woff'),
    url('./fonts/ttf/Vazirmatn-FD-Thin.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/eot/Vazirmatn-FD-Light.eot');
    src: url('./fonts/eot/Vazirmatn-FD-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/woff2/Vazirmatn-FD-Light.woff2') format('woff2'),
    url('./fonts/woff/Vazirmatn-FD-Light.woff') format('woff'),
    url('./fonts/ttf/Vazirmatn-FD-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/eot/Vazirmatn-FD-Medium.eot');
    src: url('./fonts/eot/Vazirmatn-FD-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/woff2/Vazirmatn-FD-Medium.woff2') format('woff2'),
    url('./fonts/woff/Vazirmatn-FD-Medium.woff') format('woff'),
    url('./fonts/ttf/Vazirmatn-FD-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/eot/Vazirmatn-FD-Bold.eot');
    src: url('./fonts/eot/Vazirmatn-FD-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/woff2/Vazirmatn-FD-Bold.woff2') format('woff2'),
    url('./fonts/woff/Vazirmatn-FD-Bold.woff') format('woff'),
    url('./fonts/ttf/Vazirmatn-FD-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    font-weight: 900;
    font-style: normal;
    src: url('./fonts/eot/Vazirmatn-FD-Black.eot');
    src: url('./fonts/eot/Vazirmatn-FD-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/woff2/Vazirmatn-FD-Black.woff2') format('woff2'),
    url('./fonts/woff/Vazirmatn-FD-Black.woff') format('woff'),
    url('./fonts/ttf/Vazirmatn-FD-Black.ttf') format('truetype');
    font-display: swap;
}